body {
  // position: absolute;
  background-image: linear-gradient(hsl(200,7%,15%), hsl(207,7%,29%));
  font-family: "Hind Siliguri", sans-serif;
}

.inputLabel {
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: block;
}

.radio-1,
.radio-2 {
  border: 0px;
  width: 16%;
  height: 2em;
}

// input[type='radio']:checked:after {
//   width: 15px;
//   height: 15px;
//   border-radius: 15px;
//   top: -2px;
//   left: -1px;
//   position: relative;
//   background-color: #ffa500;
//   content: '';
//   display: inline-block;
//   visibility: visible;
//   border: 2px solid white;
// }

.h1 {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  margin: 10px 0px 10px 0px;
}

.h3 {
  font-size: 35px;
  margin-left: 5px;
  padding-top: 2px;
  color: rgb(255, 255, 255);
}

p {
  font-size: 33px;
  text-align: center;
  padding: 5px;
  color: #ffffff;
}

.underlying {
  display: flex;
}

.underlying > div {
  width: 230px;
  text-align: left;
  line-height: 15px;
}

.form-container {
  display: flex;
}

.form-container > div {
  width: 150px;
  text-align: left;
  line-height: 15px;
}

.strike-expiry {
  display: flex;
  margin-top: 50px;
}

.side{
  color: #ffffff;
  margin-left: 50px;
  margin-right: 40px;
}

.type {
  color: #ffffff;
  margin-right: 50px;
}

.button {
  width: 200px;
  background-color: #ffffff;
  border-radius: 13px;
  font-weight: bold;
  color: hsl(204, 100%, 50%);
  text-align: center;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.2s;
  box-shadow: 0 2px 2px hsl(204, 100%, 50%);
}

.button:hover {
  background-color: hsl(204, 100%, 50%);
  color: white;
}

.button:active {
  box-shadow: 0 2px rgb(107, 106, 106);
  transform: translateY(2px);
}

.calculate_button:hover {
  background-color: hsl(204, 100%, 50%);
  color: white;
}

.calculate_button:active {
  box-shadow: 0 2px rgb(107, 106, 106);
  transform: translateY(2px);
}

.calculate_button {
  width: 200px;
  height: 70px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 13px;
  font-weight: bold;
  color: hsl(204, 100%, 50%);
  position: fixed;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  transition-duration: 0.2s;
  box-shadow: 0 2px 2px hsl(204, 100%, 50%);
}

// .buyOrWrite {
//   background-color: #f3aa66;
//   color: white;
//   padding-bottom: 0px;
//   width: 90px;
//   height: 25px;
//   border-radius: 3px;
//   font-size: 20px;
//   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.9);
// }

// .callOrPut {
//   background: #f3aa66;
//   color: white;
//   padding-bottom: 0px;
//   width: 90px;
//   height: 25px;
//   border-radius: 3px;
//   font-size: 20px;
//   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.9);
// }

.form {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background-color: #ffffff59;
  border-radius: 13px;
}

// .placeholder {
// color: white;
// }

.date_form {
  text-align: center;
  font-size: x-large;
  margin-left: 30px;
  padding-top: 10px;
  width: 200px;
  height: 35px;
  background-color: rgba(0, 153, 255, 0.733);
  border-radius: 13px;
}
